<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<nav class="site-header sticky-top py-1" style="background-color: rgba(0, 0, 0, .85); color: #212529">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#" aria-label="Product" style="color: #999">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
    </a>
    <a class="py-2 d-none d-md-inline-block" href="#" style="color: #999">Tour</a>
    <a class="py-2 d-none d-md-inline-block" href="#" style="color: #999">Product</a>
    <a class="py-2 d-none d-md-inline-block" href="#" style="color: #999">Features</a>
    <a class="py-2 d-none d-md-inline-block" href="#" style="color: #999">Enterprise</a>
    <a class="py-2 d-none d-md-inline-block" href="#" style="color: #999">Support</a>
    <a class="py-2 d-none d-md-inline-block" href="#" style="color: #999">Pricing</a>
    <a class="py-2 d-none d-md-inline-block" href="#" style="color: #999">Cart</a>
  </div>
</nav>



{% block content %}

{% endblock %}

</body>
</html>